<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.eventmanage.dao.DashBoardDao">

    <resultMap id="eventDetail" type="com.cs.eventmanage.dto.session.EventDetailInfo">
        <result column="" property="" jdbcType=""/>
        <result column="" property="" jdbcType=""/>
        <result column="" property="" jdbcType=""/>
        <result column="" property="" jdbcType=""/>
        <result column="" property="" jdbcType=""/>
        <result column="" property="" jdbcType=""/>
        <result column="" property="" jdbcType=""/>
        <result column="" property="" jdbcType=""/>
        <result column="" property="" jdbcType=""/>
        <result column="" property="" jdbcType=""/>
        <result column="" property="" jdbcType=""/>
        <result column="" property="" jdbcType=""/>
    </resultMap>

    <select id="check" resultMap="eventDetail">
        SELECT 1
    </select>


</mapper>
